body {
  margin: 0px;
  background-color: whitesmoke;
  height: 200vh;
}

#content {
  width: 100%;
}

.header {
  display: flex;
  height: 170px;
  width: calc(86%);
  background-color: white;
  box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.289);
  align-items: center;
  justify-content: space-between;
  padding: 0px 7%;
}

.headerText {
  font-size: 50px;
}

.headerBtnCon {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.HeaderBtn {
  background-color: white;
  border: 0px;
  font-size: 25px;
}

.currentUnderline {
  position: absolute;
  top: 105px;
  right: calc(425px + 7%);
  width: 70px;
  height: 10px;
  rotate: 2deg;
  background-color: rgb(143, 202, 143);
}
